<%= form_for :user_response_value, url: :user_response_values, method: :post, remote: true do |f| %> 
  <%= f.hidden_field :submission_id, value: submission.id %> 
  <%= f.hidden_field :multiple_choice_question_id, value: mcq.id %>
  <%= f.hidden_field :user_id, value: current_user.id %>
  <label><strong><%= mcq.sequence_number %>. </strong> <%= mcq.question %></label>
  <% mcq.mcq_options.each do |mcq_opt| %>
    <div class="form-group">
      <%= f.radio_button mcq.question, mcq_opt.option %>
      <%= f.label mcq_opt.option %>
    </div>
  <% end %>
  <% if mcq.id == @test_paper.multiple_choice_questions.first.id %>
    <%= link_to "Previous", "", class: "btn btn-primary disabled" %>
  <% else %>
    <%= link_to "Previous", load_previous_question_path(mcq_id: mcq.id, submission: @submission.id), class: "btn btn-primary", remote: true %>
  <% end %>
  <%= f.submit "Save & Next", class: "btn btn-success" %>
  <% if mcq.id == @test_paper.multiple_choice_questions.last.id %>
    <%= link_to "Next", "", class: "btn btn-info disabled" %>
  <% else %>
    <%= link_to "Next", load_next_question_path(mcq_id: mcq.id, submission: @submission.id), class: "btn btn-info", remote: true %>
  <% end %>
<% end %>
