<div class="col-md-9">
  <div class="card custom-card">
    <div class="card-body">
      <div>
        <%= form_for :user_response, url: :user_response_values, method: :post, remote: true do |f| %>
          <%= f.hidden_field :submission_id, value: submission.id %>
          <%= f.hidden_field :multiple_choice_question_id, value: mcq.id %>
          <%= f.hidden_field :user_id, value: current_user.id %>
          <label><strong><%= mcq.sequence_number %>. </strong> <%= mcq.question %></label>
          <% mcq.mcq_options.each do |mcq_opt| %>
            <div class="form-group">
              <%= f.radio_button mcq.question, mcq_opt.option %>
              <%= f.label mcq_opt.option %>
            </div>
          <% end %>
          <% if mcq.id == test_paper.multiple_choice_questions.first.id %>
            <%= link_to "Previous", "", class: "btn btn-primary disabled" %>
          <% else %>
            <%= link_to "Previous", load_previous_question_path(mcq_id: mcq.id, submission: submission.id), class: "btn btn-primary", remote: true %>
          <% end %>
          <%= f.submit "Save & Next", class: "btn btn-success" %>
          <%= link_to "Marked for Review & Next", question_marked_for_review_path(mcq_id: mcq.id, submission_id: submission.id), remote: true, class: "btn btn-primary btn-indigo" %>
          <% if mcq.id == test_paper.multiple_choice_questions.last.id %>
            <%= link_to "Next", "", class: "btn btn-info disabled" %>
          <% else %>
            <%= link_to "Next", load_next_question_path(mcq_id: mcq.id, submission: submission.id), class: "btn btn-info", remote: true %>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>
<div class="col-md-3">
  <% test_paper.multiple_choice_questions.each do |mcq| %>
    <% if mcq.question_user_statuses.present? && current_user.question_user_statuses.present? %>
      <% if QuestionUserStatus.find_by(user_id: current_user.id, multiple_choice_question_id: mcq.id).status == "Answered" %>
        <%= link_to mcq.sequence_number, load_question_path(mcq_id: mcq.id, submission: submission.id), class: "btn btn-success btn-mark mb-2", remote: true %>
      <% elsif QuestionUserStatus.find_by(user_id: current_user.id, multiple_choice_question_id: mcq.id).status == "Marked for Review" %>
        <%= link_to mcq.sequence_number, load_question_path(mcq_id: mcq.id, submission: submission.id), class: "btn btn-indigo btn-mark mb-2", remote: true %>
      <% end %>
    <% else %>
      <%= link_to mcq.sequence_number, load_question_path(mcq_id: mcq.id, submission: submission.id), class: "btn btn-secondary btn-mark mb-2", remote: true %>
    <% end %>
  <% end %>
</div>
